.aside-user {
    width: 25%;
    padding-left: 30px;
    position: relative;
    display: block;
}

.aside-guest {
    display: none;
}

.main-user {
    width: 75%;
    max-height: 800px;
    overflow: auto;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('./background.png');
}

.main-guest {
    width: 100%;
    max-height: 800px;
    overflow: auto;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('./background.png');
}