
.edit-btn {
    position: absolute;
    color: orange;
    font-size: 50px;
    top: 0px;
    right: 68px;
}

.delete-btn{
    position: absolute;
    color: red;
    font-size: 50px;
    right: 10px;
    top: 0px;
}

.block{
    display: block;
}

.none{
    display: none;
}