@media all and (max-width:600px) {
    header {
       display: flex;
       flex-direction: column;  
    }

    header .show {
        flex-wrap: wrap;
    }

  
 }

    header ul :nth-child(1){
       
        text-align: center;
        margin-bottom: 20px;
    }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 20px;
}

header ul {
    list-style: none;
    display: flex;
   
}

header li {

    font-size: 22px;
    
}

header li a {
    text-decoration: none;
    color: rgb(71, 71, 71);
    padding: 5px 17px;
}

header .logo a{
    text-decoration: none;
    color: rgb(71, 71, 71);
}


header .logo-text {
    background-color: rgb(73, 191, 76);
    color: white;
    padding: 5px 7px;
}

header .logo {
    font-size: 21px;
}


header li a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(73, 191, 76);
    padding: 15px 17px;
    transition: 0.3s;
}


.header-container p{
    color: white;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.header-buttons a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background-color: rgb(73, 191, 76);
    padding: 5px 30px;
    border-radius: 10px;
    margin: 0 30px;
    border: 1px solid rgb(73, 191, 76);
}

.header-buttons a:hover {
    color: orange;
    background-color: rgb(71, 71, 71);
    border: 1px solid orange;
    transition: 0.8s;   
}

header .hello-user {
    border: 3px solid white;
    padding: 2px 4px; 
    border-radius: 10px; 
}

header .hello-user:hover {
border-color: rgb(73, 191, 76);
text-decoration: none;
color: rgb(71, 71, 71);
background-color: white;
padding: 2px 4px;
transition: 0.3s;
}