.main-content {
    margin: 40px 20px;
    display: flex;
}   

.main-content .img-container {
    display: flex;
    flex-wrap: wrap;
}

.img-card {
    width: 280px;
    margin: 20px;
    box-shadow: 0px 0px 13px 3px black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-card .image{
    max-width: 100%;
    width: 100%;
}

.img-card img {
    width: 100%;
    height: auto;
    max-height: 200px;
}

.img-card h3 {
    text-align: center;
}

.img-card h3 {
    padding-left: 10px;
}

.img-card:hover {
    max-width: 100%;
    transform: scale(1.05);
    transition: 0.4s;
   
}

.main-content aside ul {
    list-style: none;
    padding-left: 0;
}

.main-content aside li {
    font-size: 30px;
    
}

.main-content aside li a:hover {
    border: 3px solid rgb(73, 191, 76);
    padding: 2px 4px; 
    border-radius: 10px;
    
}

.main-content aside .top-users a {
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-size: 35px;
    padding-left: 10px;
}

.top-users {
    position: relative;
    z-index: 2;
}

.main-content aside h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.top-liked {
    position: relative;
    margin-top: 100px;
    z-index: 3;
}

.top-liked-img {
    width: 300px;
}

.top-liked-img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 13px 10px rgb(73, 191, 76);
    transition: 0.4s;
}

.top-liked .top-img {
    width: 100%;
}

.top-liked img {
    width: 100%;
}

.top-liked h3 {
    margin: 0;
    padding: 10px;
}

.top-liked-img:hover{
    transform: scale(1.1);
}

.top-liked a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.photographer1 {
    width: 250px;
    z-index: 1;
    position: absolute;
    top: 135px;
    right: -30px;
}

.photographer1 img {
    width: 100%;
    
}
