.username-login {
    position: relative;
}

.password-login {
    position: relative;
}

.user-inactive {
    color: lightgrey;
}

.input-inactive {
    position: absolute;
    left: -30px;
    top: 35px;
    color: lightgrey;
    font-size: 20px;
}

.input-invalid {
    position: absolute;
    left: -30px;
    top: 35px;
    color: red;
    font-size: 20px;
}


.input-valid {
    position: absolute;
    left: -30px;
    top: 35px;
    color: rgb(73, 191, 76);
    font-size: 20px;
}

.icon-valid {
    position: absolute;
    left: -30px;
    top: 35px;
    color: rgb(73, 191, 76);
    font-size: 20px;
}

.icon-invalid {
    position: absolute;
    left: -30px;
    top: 35px;
    color:red;
    font-size: 20px;
}

.login-form input {
    margin-bottom: 20;
}

.login-form p {
    margin-top: 0;
}

.active {
    display: none;
}


.inactive {
    position: absolute;
    bottom: -22px;
    left: 10px;
    display: block;
    color: red;
   
}

.error {
    display: block;
    border: 2px solid #f80303;
    padding: 20px 50px;
    background: red;
    color: white;
    border-radius: 24px;
    font-weight: 500;
    position: absolute;
    top: -35px;
    box-shadow: 0px 0px 8px black;
    transition: 2s;
}

.error p {
    margin: 0;
}